.container {
  background-color: blueviolet;
  display: flex;
  flex-direction: row;
  height: 100vh;
  max-width: 100%;
  margin: 0 auto;
} 

.wrap-post {
  flex: 3;
  padding: 5px;
}

.wrap-form {
  flex: 1;
  padding: 20px;
}